* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:black;
    height: 100vh;
}

.content {
    display: grid;
    height:100%;
    grid-template-columns: 75% 25%;
    grid-template-rows: 15% 80% 5%;
    
}

#startPageIntro {
    color: white;
    background-color: rgb(65,65,65);
    text-align:center;
    margin-right:80px;
    opacity: 95%;
}


#startingpageImage{
    margin: 0px 0px 0px 80px;
    width: 100%;
    height: 100%;
}


header {
    grid-column-start: 1;
    grid-column-end: 3;
}

footer {
    background-color: #151515;
    grid-column-start: 1;
    grid-column-end: 3;
}

.menu{
    display: flex;
}

#startPageLogo{
    width:auto;
    height:100px;
    flex-basis:10%;
    margin-left: 80px;
}

#logoImage {
    height: 100%;
    width: auto;
}

#webname{
    height:100px;
    flex-basis:90%;
    text-align: left;
    padding: 30px 50px;
}

.contacts{
    text-align: center;
    color:white;
    line-height:10px;
}

input {
    width: 150px;
}

#submitButton {
    border:none;
    width:80px; 
    border-radius:10px;
    background-color:#ADD8E6;
}

#submitButton:hover{
    background-color:#89CFF0;
}
